body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: black;
}

p {
  font-size: larger;
  text-align: center;
}
h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
h2,
h3 {
  text-align: left;
}

footer {
  text-align: center;
}
.locationSearch {
  text-align: center;
}
.locationSearch #location-input {
  padding: 10px 100px;
  font-size: large;
}

.locationSearch #location-submit {
  padding: 10px;
}

#current-location-button {
  padding: 10px 10px;
}
#current {
  font-size: 700%;
}
.cloud {
  width: 50%;
  height: auto;
}
