body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: black;
}

p {
  font-size: larger;
  text-align: center;
}
h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
h2,
h3 {
  text-align: left;
}

li {
  list-style: none;
}

footer {
  text-align: center;
}
.app-container {
  max-width: 1500px;
  margin: 30px auto;
}

.weather-container {
  padding: 20px;
  border: 10px solid #ff3e80;
  border-radius: 5px;
  margin: 30px;
}

.locationSearch {
  text-align: center;
}
.locationSearch #location-input {
  padding: 10px 100px;
  font-size: large;
}

.locationSearch #location-submit {
  padding: 10px;
}

#current-location-button {
  padding: 10px 10px;
}
#current {
  font-size: 400%;
}

#description {
  text-transform: capitalize;
}

#forecast {
  padding: 20px;
  text-align: center;
}

.cloud {
  width: 50%;
  height: auto;
}
