body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: black;
}

p {
  font-size: larger;
  text-align: center;
}
h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
h2,
h3,
h4 {
  text-align: left;
  color: whitesmoke;
  text-shadow: #ff3e80;
  font-size: x-large;
}

li {
  list-style: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: larger;
}

footer {
  text-align: center;
}
.app-container {
  max-width: 800px;
  margin: 30px auto;
}

.weather-container {
  padding: 20px;
  border: 8px solid pink;
  border-radius: 5px;
  margin: 30px;
  background-image: url(https://images.pexels.com/photos/5326931/pexels-photo-5326931.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-blend-mode: darken;
}

.locationSearch {
  text-align: center;
}
.locationSearch #location-input {
  padding: 10px 100px;
  font-size: large;
  border-radius: 5px;
}

.locationSearch #location-submit {
  padding: 10px;
  border-radius: 5px;
}

#current-location-button {
  padding: 10px 10px;
  border-radius: 5px;
}
#current {
  font-size: 250%;
}

#description {
  text-transform: capitalize;
}

#forecast {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  color: whitesmoke;
}
